
	p {width: 1050px; text-align: right;}
	table thead tr th {background-color: gray;}
	* {font-size: 9pt;}
	#link{
		font-size: 50px;
		font-weight: bold;
		font-family: "¸¼Àº°íµñ";
		color = "#8041D9";
		link = "#8041D9";
		alink = "#8041D9";
		vlink = "#8041D9";
		style = text-decoration:none;
		text-decoration: none;
	}

	#Search{
		height : 30px;
		border: 1px solid #cfcfcf;
	}
	#Main_Search{
		text-align: center;
	}
	#Main_Login{
		margin-left : 800px;
	}
	#Search_Top{
		margin-left: 300px;
		margin-right: 300px;
	}
	#Search_Middle{
		margin-left: 200px;
		margin-right: 130px;
	}
	#center{
		width:70%;
		float : left;
		margin-top : 30px;
	}
	#aside{
		width:25%;
		height: 1000px;
		margin-top : 20px;
		margin-left : 50px;
		float : right;
	}
	#line{
		border-bottom:1px solid #D5D5D5;
		border-top:1px solid #D5D5D5;
		}

	.link{
		font-size: 40px;
		font-weight: bold;
		font-family: "Comic Sans MS";
		style = text-decoration:none;
		text-decoration: none;
	}
	
	.link:link {color:#24A6BD; text-decoration: none;}
	.link:visited{color:#24A6BD; text-decoration: none;}	
	
	.links{
		font-size: 22px;
		font-weight: bold;
		font-family: "±Ã¼­Ã¼";
		style = text-decoration:none;
		text-decoration: none;
	}
	
	.links:link {color:#4374D9;}
	.links:visited{color:#4374D9;}
	
	.Rlinks{
		font-size: 20px;
		font-weight: bold;
		font-family: "Comic Sans MS";
		style = text-decoration:none;
		text-decoration: none;
		padding-bottom: 60px;
	}
	
	.Rlinks:link {color:#353535;}
	.Rlinks:visited{color:#353535;}
	
	.Repositorie{
		font-size:18px;
		font-family: "Comic Sans MS"; 
		text-align:"center";
	}
	
	h1{
		font-size : 25px;
		font-weigh : bold;
	}

	
	.button {
   border: 1px solid #858f94;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   padding: 10px 20px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 16px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #9ba3a8;
   background: -webkit-gradient(linear, left top, left bottom, from(#b4bdc2), to(#9ba3a8));
   background: -webkit-linear-gradient(top, #b4bdc2, #9ba3a8);
   background: -moz-linear-gradient(top, #b4bdc2, #9ba3a8);
   background: -ms-linear-gradient(top, #b4bdc2, #9ba3a8);
   background: -o-linear-gradient(top, #b4bdc2, #9ba3a8);
   background-image: -ms-linear-gradient(top, #b4bdc2 0%, #9ba3a8 100%);
   color: #fff;
   }
    .Lbutton {
   border: 1px solid #707375;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   padding: 10px 20px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 12px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.Lbutton:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #9ba3a8;
   background: -webkit-gradient(linear, left top, left bottom, from(#b4bdc2), to(#9ba3a8));
   background: -webkit-linear-gradient(top, #b4bdc2, #9ba3a8);
   background: -moz-linear-gradient(top, #b4bdc2, #9ba3a8);
   background: -ms-linear-gradient(top, #b4bdc2, #9ba3a8);
   background: -o-linear-gradient(top, #b4bdc2, #9ba3a8);
   background-image: -ms-linear-gradient(top, #b4bdc2 0%, #9ba3a8 100%);
   color: #fff;
   }

