#tree{
	width:300px;
	margin:3px;
	
}
#right{
	width:680px;
	margin:5px;
	padding-left:20px;
	float:left;
}
#tree button{
	border-color:#fff;
}
#input{
	margin-top:10px;
	margin-left:5px;
	margin-bottom:10px;
}
#left{
	padding:0px;
	margin:0px;
	width:300px;
	float:left;
}
#AddTree{
	margin-top:5px;
}
#AddButton{
	margin-top:5px;
}
